# Composer and Npm
app/.config/composer
app/.local/share/composer
app/vendor/
app/node_modules/
app/npm-debug.log
app/yarn-error.log
app/.npm/

# Laravel
app/public/css/app.css
app/public/fonts/vendor
app/public/js/app.js
app/storage/*.key
app/.env
app/Homestead.yaml
app/Homestead.json
app/.vagrant
app/.phpunit.result.cache
app/.cache/
app/bootstrap/compiled.php
app/app/storage/
app/public_html/storage
app/public_html/hot
app/public/storage
app/public/hot

# Dev
*.code-workspace
app/.bash_history
app/.php-cs-fixer.cache
