@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#theme-toggle-dark-button {
    display: none;
}

.dark #theme-toggle-light-button {
    display: none;
}

.dark #theme-toggle-dark-button {
    display: block;
}