@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fortawesome/fontawesome-free/scss/fontawesome'; 
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/solid'; 
@import '@fortawesome/fontawesome-free/scss/brands';

#theme-toggle-dark-button {
    display: none;
}

.dark #theme-toggle-light-button {
    display: none;
}

.dark #theme-toggle-dark-button {
    display: block;
}
